/* SPOTIFY-MD */
@media screen and (max-width: 1200px) {

  /* sidebar */
  #sidebar {
    width: 25%;
    font-size: 15px;
  }

  .sidebar-top .logo {
    width: 150px;
    padding: 15px;
  }

  .sidebar-top li {
    margin-bottom: 15px;
    padding-left: 15px;
  }

  .sidebar-top i {
    padding-right: 8px;
  }

  .playlist-title {
    margin-left: 15px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .crea-playlist i {
    font-size: 35px;
  }

  .sidebar-bottom {
    margin-left: 15px;
    margin-top: 25px;
  }

  .sidebar-bottom hr {
    margin-right: 15px;
  }

  .user i {
    font-size: 35px;
    margin-top: 15px;
    margin-right: 15px;
  }

  /* header */
  #content {
    width: calc(100vw - 20%);
  }

  .header {
    height: 100px;
    font-size: 12px;
  }

  .button {
    padding: 8px 40px;
    border-radius: 25px;
    margin-right: 5px;
  }

  /* top-menu */
  .container-recently {
    max-width: 90%;
  }

  .col-18 {
    width: calc(100% / 5 - 5px);
  }

  .top-menu {
    font-size: 13px;
    justify-content: center;
  }

  .green-line::after {
    margin-left: 20px;
    width: 30px;
    height: 2px;
  }


  /* recently played, creato per John Doe, artisti più popolari */
  .recently-title,
  .recently-cards,
  .created-title,
  .created-cards,
  .artist-title,
  .artist-cards {
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .recently-title {
    font-size: 13px;
  }

  .recently-cards .col-18,
  .created-cards .col-18,
  .artist-cards .col-18 {
    width: calc(100% / 4 - 5px);
  }

  .recently-title p,
  .created-title p,
  .artist-title p {
    font-size: 20px;
  }

  .card-title {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 8px;
  }

  .card-subtitle {
    font-size: 13px;
  }

  .text-gray {
    font-size: 14px;
  }

  /* footer */
  footer {
    height: 70px;
  }

  .player-left {
    font-size: 10px;
  }

  .pl-img img {
    width: 35px;
  }

  .player-center {
    font-size: 10px;
  }

  .pc-icons {
    font-size: 14px;
  }

  .pc-bar {
    width: 40%;
  }

  .player-right {
    font-size: 10px;
  }

  .pr-bar {
    width: 20%;
  }

  .size-40 {
    font-size: 30px;
  }
}

/* SPOTIFY-S */
@media screen and (max-width: 800px) {

  /* sidebar */
  #sidebar {
    width: 40%;
  }

  /* header */
  #content {
    width: calc(100vw - 40%);
  }

  /* top-menu */
  .container-recently {
    max-width: 90%;
  }

  .col-18 {
    width: calc(100% / 3 - 5px);
    padding-bottom: 20px;
  }

  .top-menu {
    font-size: 11px;
    text-align: center;
  }

  .green-line::after {
    margin-left: 40px;
  }


  /* recently played, creato per John Doe, artisti più popolari */

  .recently-title {
    font-size: 13px;
  }

  .recently-cards .col-18 {
    width: calc(100% / 2 - 5px);
  }

  .created-cards .col-18,
  .artist-cards .col-18 {
    width: calc(100% / 2 - 20px);
  }

  .card-title {
    font-size: 13px;
  }

  .card-subtitle {
    font-size: 12px;
  }

  .text-gray {
    font-size: 11px;
  }

  /* footer */
  .player-left {
    font-size: 10px;
    width: calc(33% - 5px);
  }

  .song-name {
    font-size: 10px;
  }

  .player-center {
    font-size: 8px;
    width: calc(33% - 5px);
  }

  .pc-icons {
    font-size: 15px;
  }

  .pc-bar {
    width: 70%;
  }

  .player-right {
    font-size: 10px;
    width: calc(33% - 5px);
  }

  .pr-bar {
    width: 40%;
  }

  .size-40 {
    font-size: 20px;
  }
}

