* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  height: 100px;
  background-color: #282828;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  height: calc(100vh - 100px);
  background-color: silver;
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}


#sidebar {
  width: 350px;
  background-color: #000000;
  height: 100%;
  font-size: 25px;
  color: #6E6E6E;
}

#content {
  height: 100%;
  width: calc(100vw - 250px);
  background-color: #141922;
  color: white;
  overflow-y: auto;
  overflow-x: auto;
}

.container {
  max-width: 2300px;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 5px;
}


.col-18 {
  width: calc(100% / 6 - 5px);
}

.col-100 {
  width: 100%;
}


/* SIDEBAR */
.logo {
  padding: 20px;
  width: 250px;
}

.sidebar-top {
  list-style-type: none;
}

.sidebar-top li {
  margin-bottom: 20px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.green-bl {
  border-left: 3px solid #ADFF2F;
}

.sidebar-middle {
  padding: 30px;
}

.sidebar-middle ul {
  list-style-type: none;
  margin-bottom: 250px;
}

.sidebar-middle li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.sidebar-bottom {
  padding: 30px;
  cursor: pointer;
}

.sidebar-bottom hr {
  margin-top: 30px;
  border: 2px solid;
}

.user {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
}

/* HEADER */
.header {
  height: 150px;
  background-color: #080B12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  font-size: 20px;
}

.button {
  border: 2px solid white;
  border-radius: 35px;
  padding: 10px 60px;
  margin-right: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* RECENTLY PLAYED */
.top-menu {
  color: #6E6E6E;
  font-size: 20px;
}

.green-line::after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: #ADFF2F;
  margin-left: 35px;
}

.container-recently {
  max-width: 1200px;
  margin: 0 auto;
}

.recently-title {
  margin-top: 30px;
}

.recently-cards {
  margin-top: 30px;
}

.col-18 img {
  width: 100%;
}

.bottom-cards {
  margin-top: 30px;
}

.card-title {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-subtitle {
  text-align: center;
  color: #6E6E6E;
  font-size: 20px;
}

/* CREATO PER JOHN DOE */
.created-title {
  margin-top: 50px;
}

.created-cards {
  margin-top: 50px;
}

/* ARTISTI PIU POPOLARI */
.artist-title {
  margin-top: 50px;
}

.artist-cards {
  margin-top: 50px;
  margin-bottom: 50px;
}

.border-radius-250 {
  border-radius: 250px;
}

/* FOOTER */
.container-footer {
  width: 100%;
  margin: 0 auto;
}

/* player-left */
.player-left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 10px;
  color: #6E6E6E;
  font-size: 20px;
}

.pl-img {
  padding-right: 15px;
}

.pl-img img {
  width: 60px;
}

.pl-text {
  padding-right: 30px;
}

.pl-icons {
  padding-right: 10px;
}


/* player-center */
.player-center {
  width: 60%;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  padding-top: 10px;
}

.pc-icons {
  text-align: center;
  justify-content: center;
  font-size: 28px;
  padding-bottom: 10px;
}

.row-player-bottom {
  display: flex;
  text-align: center;
  justify-content: center;
}

.pc-bar {
  width: 70%;
  height: 5px;
  background-color: grey;
  border-radius: 5px;
  margin: 0px 10px;
  position: relative;
  cursor: pointer;
}

.player-time {
  transform: translateY(-50%);
}

.elapsed-time {
  position: absolute;
  top: 0;
  left: 0;
  background-color: silver;
  height: 100%;
  width: 20%;
  border-radius: 5px;
}

.controller-point {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
}


/* player-right */
.player-right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 10px;
  color: white;
  font-size: 20px;
}

.pr-bar {
  width: 50%;
  height: 5px;
  background-color: grey;
  border-radius: 5px;
  margin: 0px 10px;
  position: relative;
  cursor: pointer;
}

/* UTILITY */
.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-10 {
  padding-right: 10px;
}

.size-70 {
  font-size: 70px;
  margin-right: 10px;
}

.size-40 {
  font-size: 40px;
}

.text-gray {
  color: #6E6E6E;
}

.text-white {
  color: white;
}

.bold {
  font-weight: bolder;
}


/* HOVER */
/* immagini hover */
.image-container {
  position: relative;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-overlay {
  color: white;
  font-size: 100px;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-overlay-radius {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-overlay-radius {
  color: white;
  font-size: 100px;
}

.image-container:hover .image-overlay-radius {
  opacity: 1;
}

/* button hover */
.button:hover {
  transform: scale(1.1);
}

/* top-menu hover */
.top-menu .col-18 {
  transition: color 0.3s ease;
  cursor: pointer;
}

.top-menu .col-18:hover {
  color: white;
}

/* sidebar-top hover */
.sidebar-top li:hover {
  color: white;
}

/* sidebar-middle hover */
.sidebar-middle li:hover {
  color: white;
}

/* sidebar-bottom hover */
.sidebar-bottom>i,
.sidebar-bottom>span {
  transition: color 0.3s ease;
}

.sidebar-bottom:hover>i,
.sidebar-bottom:hover>span {
  color: white;
}

/* player left hover */
.pl-text .song-name {
  transition: color 0.3s ease; 
  cursor: pointer; 
}

.pl-text .song-name:hover {
  color: white;
}

.pl-icons i {
  transition: color 0.3s ease; 
  cursor: pointer; 
}

.pl-icons i:hover {
  color: white; 
}

/* player center hover */
.player-center:hover .elapsed-time {
  background-color: #ADFF2F;
}

.player-center:hover .elapsed-time .controller-point {
  display: block;
}

.pc-icons i {
  transition: tranform 0.3s ease; 
  cursor: pointer;
}

.pc-icons i:hover {
  transform: scale(1.2);
}

/* player center hover */
.player-center:hover .elapsed-time {
  background-color: #ADFF2F;
}

.player-center:hover .elapsed-time .controller-point {
  display: block;
}

.player-center:hover .elapsed-time {
  background-color: #ADFF2F;
}

/* player right hover */
.pr-bar:hover .elapsed-time .controller-point {
  display: block;
}

.pr-bar:hover .elapsed-time {
  background-color: #ADFF2F;
}

.pr-icons i {
  color: #6E6E6E;
  transition: color 0.3s ease;
  cursor: pointer;
}

.pr-icons i:hover {
  color: white;
}